.bottom_boder{
    width:100px;
    border-bottom:1px solid white;
    margin:auto
}
.header{
	/*background-color:#343A42;*/
	width: 100%;
	padding-bottom:50px;
	background-image: linear-gradient(to bottom, rgb(10 27 80 / 30%) 0%, rgb(52 58 66 / 60%) 100%), url(../img/home8.jpg);
	height: 60%;
		background-size: cover;

}
.header #text_header{
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 50px;
	letter-spacing: 0em;
	text-align: left;
	padding-top:230px;
	color:white;
}
.header #text_desc{
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	color:white;
}
.main_div{
	background-color: white;
}
#auction_section_2{
    padding-top:6%;
    padding-bottom: 6%;
}

#auction_section_2 img{
	width:100%;
}

#auction_section_2 #header{
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: left;
	margin-top:20px;
}
#auction_section_2 #price{
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: 33px;
	letter-spacing: 0em;
	text-align: left;
}

#auction_section_2 #desc{
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
}
#auction_section_2 #status{
	margin-top:30px;
}
#auction_section_2 #status span{
	background: #E1E6EB;
	padding:5px 10px;
}

#auction_section_2 #price img{
	width:30px;
	margin-right:10px;
}
#auction_section_2 #price{
	display:flex;
	align-items: center
}


#auction_section_3{
	margin-top:100px;
	margin-bottom:30px;
}
#auction_section_3 img{
	height: 76px;
	width: auto;
}

#auction_section_2 #timer{
	display:flex;
	align-items: center;
	margin-left:30px;
}

#auction_section_2 #timer ion-icon{
	margin-right:5px;
}


@media (max-width: 767px) {
	.header #text_header{
		font-size:28px;
		line-height: 35px;
		padding-top:160px;
	}
	.header #text_desc{
		font-size:12px;
		line-height: 20px
	}
	#auction_section_2 .col-md-6{
		margin-top:30px;
		margin-bottom:30px;
	}

	#auction_section_2 #header{
		font-size: 20px;
		line-height: 20px;
	}
	#auction_section_2 #price{
		font-size: 22px;
		font-weight: 700;
	}
	#auction_section_2 #desc{
		font-size: 12px;
	}
	#auction_section_2 #status{
		margin-top:30px;
	}
	#auction_section_2 #status span{
		background: #E1E6EB;
		padding:5px 10px;
		font-size:12px;
	}
	#auction_section_3{
		margin-top:20px;
		margin-bottom:30px;
	}
	#auction_section_3 .col-md-2{
		text-align: center
	}
	#auction_section_3 img{
		height: 76px;
		width: auto;
		margin-bottom: 20px
	}
}